.indicatorblock {
    background-color: lightblue;
    height:100%;
    width:32.5%;
    display:inline-block;
}
.indicatortitleblock {
    background-color: lightblue;
    height:100%;
    width:32.5%;
    display:inline-block;
}
#indicatorblock01 {
    
}
#indicatorblock02 {
    
}
#indicatorblock03 {
}