p {
    margin:0px;
}

/* indicating bars */
.indicatorblock {
    height:100%;
    width:24%;
    display:inline-block;
}
#indicatorhead{
    padding-bottom:2px;
}
.barframe {
    margin-top:10px;
    padding-top:5px;
    height:20px;
    width:85%;
    border:solid 1px;
    vertical-align:middle;
}
.inbarframe {
    height:100%;
    width:100%;
    overflow:hidden;
}
#indicatorblock01 {
    
}
#indicatorblock02 {
    
}
#indicatorblock03 {
}




/* title in words */
#indicatortitle {
    padding-bottom:2px;
    border-bottom:solid;
}
.indicatortitleblock {
    height:100%;
    width:24%;
    display:inline-block;
    text-align:center;
}
#indicatortitle01 {
}
#indicatortitle02 {
}
#indicatortitle03 {
}
.indicatortitleblock p {
    margin-top:5px;
    margin-bottom:5px;
}




/* left content about avatar head */
#leftcontent {
    height:500px;
    width:25%;
    border-right:solid;
    display:inline-block;
    overflow: scroll;
}
.playerclass {
    width:100%;
    margin-top:10px;
}
.char_health, .char_energy, .char_stress, .char_intoxication {
    height:15px;
    background-color:yellow;
    margin-right:20px;
    margin-bottom:1px;
}
.playerclass:hover {
    background-color:#CEF6F5;
}
.char_health p, .char_energy p, .char_stress p, .char_intoxication p {
    display:inline-block;
}


/* playground */
#rightcontent {
    background-color:red;
    height:500px;
    width:73%;
    display:inline-block;
}
.campusarea {
    width:60%;
    height:50%;
    background-color:white;
}